<!-- <app-login></app-login>
<app-register></app-register> -->


<div class="mat-app-background ">
        <mat-drawer-container class="MainContainer" autosize>
            <app-category *ngFor="let category of allCatgories" [Category]="category" class="nav-item nav-link active"></app-category>
        
            <mat-drawer #drawer class="example-sidenav" mode="side">
              
              <p>Auto-resizing sidenav</p>
              <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>

              <button (click)="showFiller = !showFiller" mat-raised-button>
                Toggle extra text
              </button>
          
              <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
              <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
              <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
              <!------ Include the above in your HEAD tag ---------->
              
              <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
          
                <table id="cart" class="table table-hover table-condensed">
                          <thead>
                          <tr>
                            <th style="width:50%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:8%">Quantity</th>
                            <th style="width:22%" class="text-center">Subtotal</th>
                            <th style="width:10%"></th>
                          </tr>
                        </thead>
                        <tbody>
                           
                           <tr cart-tr *ngFor="let Product of AllCartProducts"  [CartProduct]="Product"></tr>
                    
                          </tbody>
                        <tfoot>
                          <tr class="visible-xs">
                            <td class="text-center"><strong>Total 1.99</strong></td>
                          </tr>
                          <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                          </tr>
                        </tfoot>
                      </table>
                
            </mat-drawer>
            <div class="example-sidenav-content">
              <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
              </button>


               <router-outlet></router-outlet>
              <!-- <app-main class="container"></app-main> -->
            </div>
          
          </mat-drawer-container>
        </div>
       