
<h1>Login</h1>
<form class="example-form col-sm-4" [formGroup]="loginForm"  >


    <div  *ngIf="this.loginForm.invalid && (this.loginForm.dirty || this.loginForm.touched)"
    class="alert alert-danger">
    <div *ngIf="this.loginForm.controls.username.invalid&& (this.loginForm.controls.username.dirty || this.loginForm.controls.username.touched)">
      Please include an "@" in the email address and ".com"
    </div>
    <div  *ngIf="this.loginForm.controls.password.invalid&&(this.loginForm.controls.password.dirty || this.loginForm.controls.password.touched)">
      password is required.
    </div>
  </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" formControlName="username" email="true"  >
  </mat-form-field>
<br/>
  <mat-form-field class="example-full-width">
    <input type="password"  matInput placeholder="password" formControlName="password" /> 
  </mat-form-field>
<br/>
  <button mat-button color="primary" [disabled]="!this.loginForm.valid"   (click)="login()" >Login</button>
  <button mat-button color="primary"  [routerLink]="'/register'" >Register</button>

</form>
